@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlabLight.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto slab";
    src: url("../fonts/RobotoSlabRegular.woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto slab";
    src: url("../fonts/RobotoSlabBold.woff");
    font-weight: 700;
}

body {
    width: 100%;
    font-family: "Roboto Slab", Arial, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


.header {
    background-color: #edeff1;
    width: 100%;
}

.header .container {
    display: flex;
    flex-direction: row;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding-bottom: 47px;
    padding-top: 15px;
    padding-left: 15px;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    width: 700px;
    padding-top: 35px;
    padding-left: 79px;
}

.logo {
    width: 170px;
    cursor: pointer;
    margin-right: 270px;
    padding-top: 30px;
}

.logo-main {
    display: inline-block;
    line-height: 36px;
    font-size: 36px;
    color: #31353e;
    font-weight: 700;
}

.logo-description {
    display: inline-block;
    line-height: 18px;
    font-size: 18px;
    color: #dd4b2b;
    font-weight: 500;
}

.navigation-item a {
    line-height: 24px;
    font-size: 18px;
    color: #31353e;
    font-weight: 500;
    cursor: pointer;
    margin-right: 4px;
    display: block;
    padding: 13px 20px;
}

.navigation-item a:hover {
    background: #dd4b2b;
    border-radius: 25px;
    color: #ffffff;
}

.promo {
    min-height: 1322px;
    box-sizing: border-box;
    background: linear-gradient(
            to  bottom,
            rgba(0,0,0, 0),
            rgba(0,0,0, 0.8) 50%
    ),#090706 url("../img/background.jpg") no-repeat center top;
    background-size: cover;
    padding-bottom: 25px;
}

.promo h1 {
    line-height: 72px;
    font-size: 72px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    max-width: 872px;
    margin: 0 auto;
    padding-top: 477px;
}

.promo-info {
    line-height: 48px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    display: block;
    max-width: 437px;
    margin: 0 auto;
    padding-top: 4px;
}

.promo-features {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    width: 1170px;
    padding-top: 117px;
    justify-content: space-between;
    margin: 0 13px;
}

.promo-features article {
    width: 371px;
}

.promo-features img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 7px solid #ffffff;
}

.promo-features img:hover {
    border-color: #dd4b2b;
    cursor: pointer;
}



.promo-features h3 {
    font-size: 30px;
    line-height: 3px;
    font-weight: 700;
    padding-top: 7px;
    text-align: center;
}

.promo-features p {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    padding-left: 35px;
    margin-bottom: 75px;
}

.btn {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
    width: 180px;
    background: #ffffff;
    color: #dd4b2b;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
}

.btn:hover {
    background: #dd4b2b;
    color: #ffffff;
}

/* NEWS */

.news {
    background: #edeff1;
    padding-top: 77px;
    padding-bottom: 106px;
}

.news h2 {
    line-height: 30px;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 81px;
    text-align: center;
}

.news-list {
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;
}

.news-item {
    width: 371px;
}

.news-item img {
    display: block;
    border-radius: 6px;
}

.news-item-left {
    padding-left: 15px;
}

.news-item-right {
    padding-right: 15px;
}

.news-item h3 {
    line-height: 30px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding-top: 31px;
}

.news-item p {
    line-height: 30px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    width: 315px;
    padding-bottom: 33px;
}

.news-item .btn {
    padding: 15px 0;
}

/* NEWSLETTER */

.newsletter {
    background: linear-gradient(
            to  bottom,
            rgba(0,0,0, 0),
            rgba(0,0,0, 0.4) 50%
    ),#090706 url("../img/promopic1.jpg") no-repeat center top;
    min-height: 377px;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 89px;
    padding-bottom: 85px;
}

.newsletter h2 {
    color: #ffffff;
    line-height: 30px;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
    margin: 0;
}

.newsletter p {
    color: #ffffff;
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    width: 580px;
    margin-bottom: 10px;
}
.newsletter form {
    position: relative;
    padding: 30px 0;
}

.newsletter input {
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    height: 50px;
    width: 280px;
    text-align: left;
    border-radius: 25px;
    opacity: 0.5;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 0 210px 0 20px;
    vertical-align: top;
    margin-left: 347px;
    outline: 0 none;
}

.newsletter button {
    position: absolute;
    width: 210px;
    padding: 16px 0 16px;
    border-radius: 25px;
    background: #ffffff;
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    right: 340px;
    vertical-align: top;
    border: none;
    outline: 0 none;
}

.newsletter button:hover {
    background: #dd4b2b;
    color: #ffffff;
}

/* PRODUCTS */

.product-top {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin-bottom: 52px;
}

.product-top-about {
    width: 585px;
    padding-left: 16px;
}

.product-top img {
    padding-top: 74px;
    padding-left: 61px;
}

.product h2 {
    line-height: 48px;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding-top: 114px;
    padding-bottom: 10px;

}

.product p {
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    width: 565px;
    margin-bottom: 30px;
}

.product .btn {
    margin: 0;
    background: #4b4e73;
    color: #ffffff;
    margin-top: 45px;
}

.product .btn:hover {
    opacity: 0.8;
}

.product-bottom {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin-bottom: 52px;
}

.product-bottom-about {
    padding-left: 45px;
    padding-right: 30px;
}

.product-bottom h2{
    padding-top: 52px;
}

/* FOOTER */

.footer {
    background-color: #d75d0e;
}

.footer .container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-around;
}

.custom-list {
    list-style: none;
    margin: 60px 0;
}

.custom-list a {
    line-height: 36px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
}

.custom-list a:hover {
    opacity: 0.5;
}

/* COPYRIGHT */

.copyright {
    background: linear-gradient(
            to  bottom,
            rgba(0,0,0, 0),
            rgba(0,0,0, 0.7) 50%
    ),#090706 url("../img/promopic1.jpg") no-repeat center top;
    height: 377px;
}

.copyright p {
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding-top: 86px;
}

.copyright span {
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding-top: 10px;
    display: block;
}